h3{
    color: blueviolet;
    font-weight:bold ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.yellow{
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
}
#first{
    text-align: center;
}
ul{
    color: brown;
}
.con{
    background-color: chocolate;
    border-radius:5px ;
    display: inline-block;
    text-align: justify;
    width: 350px;
    height: 200px;
    margin: 20px;
    padding: 10px;

}
#form{
    text-align: left;
}
#image{
    margin-top: 50px;
    text-align: left;
    height: 100px;
    box-sizing: content-box;
}
.frst{
    margin-top: 100px;
}